$azul-escuro: #2E7BA2;
$azul-hover: #519EC5;
$roxo-boreal: #4650BD;
$roxo-hover: #606ADA;
$mostarda: #DF9010;
$cinza: #444444;
$cor-bg: linear-gradient(180deg, #BFDAE6 0%, #FCF0DD 50%, #FACF9D 100%);
$cor-bg-azul: #C8DEEF;
$cor-bg-amarelo-claro: #FBF0DD;
$cor-bg-amarelo: #FACF9D;
$fonte-titulo: 'Calistoga', cursive;
$fonte-texto: 'Raleway', sans-serif;
