@import '../../estilos/variaveis';

.mapa {
    img{
        width: 100%;
    }
    &__legenda{
        margin-left: 2em;
       
        h3 {
            margin: 1em 0;
            font-family: $fonte-texto;
            font-weight: 700;
            font-size: 20px;
            text-align: center;
        }
        div{
            display: flex;
            gap: 1em;
            margin: 0.5em 0 ;
            align-items: center;
            p{
                font-weight: 500;
                font-size: 20px;
            }
            div {
                width: 2em;
                height: 2em;
            }
            .azul {
                background-color: #0E7DF1;
            }
            .rosa {
                background-color: #FE016E;
            }
            .verde{
                background-color: #01A89E;
            }
            .roxo{
                background-color: #3F51B5;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .mapa__legenda {
        padding: 2em auto;
        margin-left: 40%;
        h3 {
            font-weight: 700;
            font-size: 32px;
            text-align: left;
        }
       
    }
}

@media screen and (min-width:1024px) {
    .mapa {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;
        img{
            width: 50vw;
        }
        .mapa__legenda{
            margin-left: 0;
        }
    }
}