.titulo {
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    text-align: center;
    margin: 1.75em 0;
}

@media screen and (min-width: 768px) {
    .titulo{
        font-size: 64px;
        line-height: 83px;
    }
}