@import '../../estilos/variaveis';

.mapa{
    background: $cor-bg;
    
    &__titulo{
        font-weight: 700;
        font-size: 32px;
        font-family: $fonte-texto;
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .mapa {
        &__titulo {
            margin: 1em 0;
        }
    }
}